{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }

  .rating input {
    display: none;
  }

  .rating label {
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    color: #aaa;
    cursor: pointer;
  }

  .rating label:hover,
  .rating label:hover ~ label,
  .rating input:checked ~ label {
    color: #ffdd00;
  }

{% endstyle %}


<div class="padding-{{section.id}}">
  <div class="page-width">
    <form method="POST" action="https://script.google.com/macros/s/AKfycbz7RrIxgHUh2aDXs-y_u4XT0NGj0iaATqtVqYbgJ2gUC4OgxYzSOrqNMbED5rnbMjCRdg/exec">
      <div class="grid grid--1-col">
         <div class="field grid__item">
          <input name="Name" type="text" id="googleName" placeholder="Name" class="field__input" required>
          <label class="field__label" for="googleName">Name</label>
        </div>
        <div class="field grid__item">
          <input name="Phone" type="tel" id="googlePhone" placeholder="Phone Number" class="field__input" required>
          <label class="field__label" for="googlePhone">Phone Number</label>
        </div>
        <div class="grid__item">
          <div class="rating">
            <input type="radio" id="star5" name="Rating" value="5" ><label for="star5">☆</label>
            <input type="radio" id="star4" name="Rating" value="4"><label for="star4">☆</label>
            <input type="radio" id="star3" name="Rating" value="3"><label for="star3">☆</label>
            <input type="radio" id="star2" name="Rating" value="2"><label for="star2">☆</label>
            <input type="radio" id="star1" name="Rating" value="1"><label for="star1">☆</label>
          </div>
        </div>
        <div class="grid__item">
          <input type="checkbox" id="checkbox" name="agree">
          <label for="checkbox"> I have read and accept the Privacy Policy</label>
          
        </div>
        <div class="grid__item">
          <label for="textarea">Additional feedback</label>
          <textarea id="textarea" name="info" rows="4" cols="50" placeholder="If You have any additional feedback please type it in hear..."></textarea>
        </div>
      </div>
      <button class="button" type="submit">Submit feedback</button>
    </form>  
  </div>
</div>


{% schema %}
{
  "name": "Feedback form",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Feedback form"
    }
  ]
}
{% endschema %}
